<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Panel</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.6/dist/vuetify.min.css" />
        <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
        <link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
    </head>

    <body>
        <div id="app">
            <Navbar title="Manage Branch" @toggle="drawer = !drawer"></Navbar>

            <div class="pa-1">
                <v-text-field
                    density="compact"
                    label="Search"
                    placeholder="Placeholder"
                    @input="search"
                    variant="outlined"
                ></v-text-field>
                <div id="table"></div>

                <v-btn color="green-darken-1" variant="outlined" icon size="x-small" class="ma-1">
                    <i class="fa fa-user"></i>
                </v-btn>

                <v-btn variant="flat" icon size="x-small" class="bg-green-darken-1 ma-1">
                    <i class="fa fa-bars"></i>
                </v-btn>

                <v-btn-toggle size="small" density="compact">
                    <v-menu :close-on-content-click="false">
                        <template v-slot:activator="{ props }">
                            <v-btn class="bg-blue-darken-1" size="small" v-bind="props">
                                <i class="fa fa-chevron-down"></i>
                            </v-btn>
                        </template>
                        <v-list lines="three" select-strategy="classic">
                            <v-list-subheader>General</v-list-subheader>

                            <v-list-item value="widgets" density="compact">
                                <template v-slot:prepend="{ isActive }">
                                    <v-list-item-action start>
                                        <v-checkbox :value="true"></v-checkbox>
                                    </v-list-item-action>
                                </template>

                                <v-list-item-title>Sample Chart</v-list-item-title>

                                <v-list-item-subtitle>
                                    Automatically add home screen widgets when downloads complete
                                </v-list-item-subtitle>
                            </v-list-item>
                        </v-list>
                    </v-menu>

                    <v-btn class="bg-green-darken-1" size="small">
                        <i class="fa fa-save"></i>
                    </v-btn>
                </v-btn-toggle>

                <v-container fluid>
                    <v-checkbox v-model="checkbox">
                        <template v-slot:label>
                            <div>
                                I agree that
                                <v-tooltip location="bottom">
                                    <template v-slot:activator="{ props }">
                                        <a
                                            target="_blank"
                                            href="https://vuetifyjs.com"
                                            v-bind="props"
                                            @click.stop
                                        >
                                            Vuetify
                                        </a>
                                    </template>
                                    Opens in new window
                                </v-tooltip>
                                is awesome
                            </div>
                        </template>
                    </v-checkbox>
                </v-container>

                <v-row no-gutters>
                    <v-col lg="4" md="6" sm="12" cols="12" class="pa-1" v-for="card in 6">
                        <v-card variant="outlined">
                            <v-card-item>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum, quidem in! Et
                                provident alias maxime vero at? Ipsam accusamus, officiis ab tempora officia
                                est dicta eligendi voluptas animi vitae similique!
                            </v-card-item>
                        </v-card>
                    </v-col>
                </v-row>

                <v-select
                    item-title="name"
                    item-value="id"
                    label="Select"
                    :items="users"
                    v-model="selectedItem"
                ></v-select>

                <v-btn class="bg-green-darken-1" size="small" variant="flat" @click="submit">Submit</v-btn>

                <v-btn class="bg-green-darken-1" size="small" variant="flat" @click="addItem">Add</v-btn>

                <v-combobox
                    v-model="modelData['users'].value"
                    label="Combobox"
                    :items="modelData['users'].items"
                    :return-obect="false"
                    item-title="name"
                    item-value="id"
                    @update="searchUser"
                ></v-combobox>
            </div>

            <v-layout>
                <v-navigation-drawer v-model="drawer" temporary>
                    <v-list-item title="Admin Panel"></v-list-item>

                    <v-divider></v-divider>

                    <v-expansion-panels variant="accordion">
                        <v-expansion-panel title="Branches">
                            <v-expansion-panel-text>
                                <v-list to="#">asdasd</v-list>
                            </v-expansion-panel-text>
                        </v-expansion-panel>
                        <v-expansion-panel title="Accounting">
                            <v-card>
                                <v-list to="#">asdasd</v-list>
                            </v-card>
                        </v-expansion-panel>
                        <v-expansion-panel
                            title="Human Resource"
                            text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ratione debitis quis est labore voluptatibus! Eaque cupiditate minima"
                        ></v-expansion-panel>
                    </v-expansion-panels>
                </v-navigation-drawer>
            </v-layout>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.6/dist/vuetify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <script src="../../assets/js/manage-branch.js" type="module"></script>
</html>
