<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Panel</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.1.6/dist/vuetify.min.css" />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
            rel="stylesheet"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="../../assets/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../../assets/css/app.css" />
        <link href="https://unpkg.com/vue3-easy-data-table/dist/style.css" rel="stylesheet" />
    </head>

    <body>
        <div id="app">
            <!-- NAVBAR -->
            <Navbar title="Manage Branch" @toggle="toggler.drawer = !toggler.drawer"></Navbar>
            <!-- SIDEBAR -->
            <v-layout>
                <v-navigation-drawer v-model="toggler.drawer" temporary width="400">
                    <v-list-item title="Admin Panel" class="ma-3"></v-list-item>

                    <v-divider></v-divider>

                    <v-list>
                        <v-list-item to="#">
                            <i class="fa fa-home mr-3"></i>
                            Dashboard
                        </v-list-item>

                        <v-list-group>
                            <template v-slot:activator="{ props }">
                                <v-list-item v-bind="props">
                                    <i class="fa fa-map-marker mr-3"></i>
                                    Branches
                                </v-list-item>
                            </template>

                            <v-list-item to="#">
                                <i class="fa fa-chevron-right mr-3"></i>
                                Manage Branch
                            </v-list-item>
                            <v-list-item to="#">
                                <i class="fa fa-chevron-right mr-3"></i>
                                Branch Supervisors
                            </v-list-item>
                            <v-list-item to="#">
                                <i class="fa fa-chevron-right mr-3"></i>
                                Branch Dicers
                            </v-list-item>
                        </v-list-group>

                        <v-list-group>
                            <template v-slot:activator="{ props }">
                                <v-list-item v-bind="props">
                                    <i class="fa fa-users mr-3"></i>
                                    Accounting
                                </v-list-item>
                            </template>
                            <v-list-item to="#">
                                <i class="fa fa-table mr-3"></i>
                                Accounting Table
                            </v-list-item>
                            <v-list-item to="#">
                                <i class="fa fa-money mr-3"></i>
                                Petty Cash
                            </v-list-item>
                        </v-list-group>

                        <v-list-group>
                            <template v-slot:activator="{ props }">
                                <v-list-item v-bind="props">
                                    <i class="fa fa-archive mr-3"></i>
                                    Inventories
                                </v-list-item>
                            </template>

                            <v-list-item to="#">
                                <i class="fa fa-table mr-3"></i>
                                Inventory Table
                            </v-list-item>

                            <v-list-item to="#">
                                <i class="fa fa-archive mr-3"></i>
                                Store Inventory
                            </v-list-item>
                            <v-list-item to="#">
                                <i class="fa fa-money mr-3"></i>
                                Petty Cash
                            </v-list-item>
                        </v-list-group>
                    </v-list>
                </v-navigation-drawer>
            </v-layout>

            <!-- CONTENT -->
            <div class="pa-3">
                <div class="mb-1">
                    <v-btn class="bg-blue-darken-1" variant="flat" size="small" @click="openModal({})">
                        Add {{ table.model }}
                    </v-btn>
                </div>

                <!-- DATA TABLE -->
                <easy-data-table :headers="table.headers" :items="table.items">
                    <template #item-operation="item">
                        <div class="operation-wrapper">
                            <v-btn
                                size="x-small"
                                variant="flat"
                                icon
                                class="bg-green-darken-1 ml-1 mb-1 mt-1"
                                @click="openModal(item)"
                            >
                                <i class="fa fa-pencil"></i>
                            </v-btn>
                            <v-btn
                                size="x-small"
                                variant="flat"
                                icon
                                class="bg-red-darken-1 ml-1 mb-1 mt-1"
                                @click="openModal(item)"
                            >
                                <i class="fa fa-trash"></i>
                            </v-btn>
                        </div>
                    </template>
                </easy-data-table>

                <!-- MODAL DIALOG -->
                <v-dialog v-model="toggler.dialog" width="800" persistent>
                    <v-card>
                        <v-card-text>Add {{ table.model }}</v-card-text>

                        <v-divider></v-divider>

                        <v-card-text>
                            <v-row no-gutters>
                                <v-col
                                    class="pa-1"
                                    cols="12"
                                    :md="field.attributes.col"
                                    v-for="(field, key) in table.modal.fields"
                                >
                                    <template v-if="field.type === 'combobox'">
                                        <small>
                                            {{ field.attributes.text }}
                                            <span class="text-red" v-if="modalData[key].hasErrors">
                                                (Please provide valid input)
                                            </span>
                                        </small>
                                        <v-combobox
                                            :label="'Enter '+ key + ' here...'"
                                            density="compact"
                                            :items="modalData[key].items"
                                            variant="solo"
                                            item-title="name"
                                            :item-value="'id' ?? 'code'"
                                            v-model="modalData[key].value"
                                            @update:search="filterModel(key)"
                                        ></v-combobox>
                                    </template>

                                    <template v-else>
                                        <small>
                                            {{ field.attributes.text }}
                                            <span class="text-red" v-if="modalData[key].hasErrors">
                                                (Please provide valid input)
                                            </span>
                                        </small>
                                        <v-text-field
                                            variant="outlined"
                                            density="compact"
                                            placeholder="Enter name here..."
                                            :disabled="field.attributes?.disabled"
                                            v-model="modalData[key].value"
                                        ></v-text-field>
                                    </template>
                                </v-col>
                            </v-row>
                        </v-card-text>

                        <v-divider></v-divider>

                        <v-card-actions>
                            <v-btn
                                variant="flat"
                                class="bg-red-darken-1"
                                size="small"
                                @click="toggler.dialog = false"
                            >
                                Close
                            </v-btn>
                            <v-btn variant="flat" class="bg-green-darken-1" size="small" @click="submitModal">
                                Save
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.1/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue3-easy-data-table"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@3.1.6/dist/vuetify.min.js"></script>

    <!-- Import SCRIPTS HERE -->
    <script src="../../assets/js/manage-branch.js"></script>
    <script src="../../assets/js/crud.js" type="module"></script>
</html>
